#creature {
  width: 120px;
  height: 120px;
  background: purple;
  border-radius: 20px;
  margin-bottom: 20px;
}

#creature {
    position: absolute;       
    width: 100px;             
    height: 50px;             
    background-color: red;    
    color: white;             
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;       
    cursor: pointer;
    user-select: none;
}