body {background-image: url("ocean.jpg");}
H1, H2, H3 {color: #0003cc; font-family: "Times New Roman", Times, serif;}
#myfish {width: 200px;}
#myscuba {width: 200px;} 
#myshark {width: 200px;}
#myreef {width: 200px;}
img #myshark { 
        position: relative;
        top: 20px; 
        left: 50px; }
    .high1 {background: rgb(213, 108, 255);}

    .high2{background: rgb(45, 255, 73);}
    

    .elements {
  display: flex;
  flex-direction: column;
}

