.nice-block {
    height: 45px;
    overflow: hidden;
    width: 100px;
    padding: 10px;
    background: rgb(201, 94, 251);
    margin: 20px;
}

.less {}

.more {
    height: auto;
    overflow: visible;
}

.nice-block span {
    cursor: pointer;
    color: rgb(255, 122, 27);
}